@{
	ViewData["Title"] = "Create Machine";
	ViewData["Footer"] = "Views / Machines / Create";
}

@model Machine

<div class="text-center">
	<h1 class="display-4">Create Machine</h1>
</div>

@using (Html.BeginForm())
{
	@Html.LabelFor(model => model.MachineName)
	@Html.TextBoxFor(model => model.MachineName)
	@Html.LabelFor(model => model.Description)
	@Html.TextBoxFor(model => model.Description)
	@Html.Label("Select Engineer")
	@Html.DropDownList("EngineerId")
	<input type="submit" value="Add Machine" class="btn btn-primary"/>
}