@{
	ViewData["Title"] = "Machine Details";
	ViewData["Footer"] = "Views / Machines / Details";
}
@model Machine

<div class="text-center">
	<h1 class="display-4">Machine Details</h1>
</div>

<hr/>

<table class="table table-bordered table-striped">
	<thead>
	<tr>
		<th>Machine Id:</th>
		<th>Machine Name:</th>
		<th>Description:</th>
		<th>Engineer Assigned:</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>@Model.MachineId</td>
		<td>@Model.MachineName</td>
		<td>@Model.Description</td>
		<td>Engineer</td>
		<td>
			<a class="btn btn-primary" asp-area="" asp-controller="Machines" asp-action="Edit" asp-route-machineId="@Model.MachineId">Edit</a>
			<a class="btn btn-danger" asp-area="" asp-controller="Machines" asp-action="Delete" asp-route-machineId="@Model.MachineId">Delete</a>
		</td>
	</tr>
	</tbody>
</table>