@{
	ViewData["Title"] = "Edit Machine";
	ViewData["Footer"] = "Views / Machines / Edit";
}

@model Machine

<div class="text-center">
	<h1 class="display-4">Edit Machine</h1>
</div>

<hr/>

@using (Html.BeginForm())
{
	<div class="row">
		<div class="col-3">
			@Html.LabelFor(model => model.MachineName)
			@Html.TextBoxFor(model => model.MachineName)
		</div>
		<div class="col-3">
			@Html.LabelFor(model => model.Description)
			@Html.TextBoxFor(model => model.Description)
		</div>
		<div class="col-3">
			@Html.Label("Select Engineer")
			@Html.DropDownList("EngineerId")
		</div>
		<div class="col-3">
			<input type="submit" value="Edit Machine" class="btn btn-primary"/>
		</div>
	</div>
}