@{
	ViewData["Title"] = "Machine Index";
	ViewData["Footer"] = "Views / Machines / Index";
}

@model IEnumerable<Machine>

<div class="text-center">
	<h1 class="display-4">Machine Index</h1>
</div>

<hr/>

@if (!Model.Any())
{
	<p>No machines have been added yet. </p>
}
else
{
	<table class="table table-bordered table-striped">
		<thead>
		<tr>
			<th>Machine Id:</th>
			<th>Machine Name:</th>
			<th>Description:</th>
			<th>Engineer:</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var obj in Model)
		{
			<tr>
				<td>@obj.MachineId</td>
				<td>@obj.MachineName</td>
				<td>@obj.Description</td>
				<td>engineer placeholder</td>
				<td>
					<a class="btn btn-primary" asp-area="" asp-controller="Machines" asp-action="Edit" asp-route-machineId="@obj.MachineId">Edit</a>
					<a class="btn btn-danger" asp-area="" asp-controller="Engineers" asp-action="Delete" asp-route-machineId="@obj.MachineId">Delete</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
}
<a class="btn btn-primary" asp-area="" asp-controller="Machines" asp-action="Create">+ Add Machine</a>