@{
	ViewData["Title"] = "Engineer Details";
	ViewData["Footer"] = "Views / Engineers / Details";
}

@* @model IEnumerable<Engineer> *@
@model Engineer

<div class="text-center">
	<h1 class="display-4">Engineer Details</h1>
</div>

<hr/>

<table class="table table-bordered table-striped">
	<thead>
	<tr>
		<th>Employee Id:</th>
		<th>Employee Name:</th>
		<th>Hire Date:</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>@Model.EngineerId</td>
		<td>@Model.EngineerName</td>
		<td>@Model.CreationDate</td>
		<td>
			<a class="btn btn-primary" asp-area="" asp-controller="Engineers" asp-action="Edit" asp-route-engineerId="@Model.EngineerId">Edit</a>
			<a class="btn btn-danger" asp-area="" asp-controller="Engineers" asp-action="Delete" asp-route-engineerId="@Model.EngineerId">Delete</a>
		</td>
	</tr>
	</tbody>
</table>