@{
	ViewData["Title"] = "Engineer Details";
	ViewData["Footer"] = "Views / Engineers / Details";
}

@model Factory.Models.Engineer

<div class="text-center">
	<h1 class="display-4">Engineer Details</h1>
</div>

<hr/>

<table class="table table-bordered table-striped">
	<thead>
	<tr>
		<th>Engineer Id:</th>
		<th>Engineer Name:</th>
		<th>Hire Date:</th>
		<th>Machines(s) Assigned:</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>@Model.EngineerId</td>
		<td>@Model.EngineerName</td>
		<td>@Model.CreationDate</td>
		<td>
			  @foreach(var join in Model.JoinEntities)
              {
                <li>@join.Machine.MachineName</li>
              }
		</td>
		<td>
			<a class="btn btn-primary" asp-area="" asp-controller="Engineers" asp-action="Edit" asp-route-EngineerId="@Model.EngineerId">Edit</a>
			<a class="btn btn-danger" asp-area="" asp-controller="Engineers" asp-action="Delete" asp-route-EngineerId="@Model.EngineerId">Delete</a>
		</td>
	</tr>
	</tbody>
</table>