@{
	ViewData["Title"] = "Engineer Index";
	ViewData["Footer"] = "Views / Engineers / Index";
}

@model System.Collections.Generic.List<Factory.Models.Engineer>

<div class="text-center">
	<h1 class="display-4">Engineer Index</h1>
</div>

<hr/>

@if (!Model.Any())
{
	<p>No engineers have been added yet. </p>
}
else
{
	<table class="table table-bordered table-striped">
		<thead>
		<tr>
			<th>Employee Id:</th>
			<th>Employee Name:</th>
			<th>Hire Date:</th>
			<th>Machine(s) Assigned:</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		@foreach (Engineer engineer in Model)
		{
			<tr>
				<td>@engineer.EngineerId</td>
				<td>@Html.ActionLink($"{@engineer.EngineerName}", "Details", new {id = @engineer.EngineerId})</td>
				<td>@engineer.CreationDate</td>
				<td>
					@foreach(var join in engineer.JoinEntities)
					{
					  <p>@join.Machine.MachineName</p>
					}
				</td>
				<td>
					<a class="btn btn-primary" asp-area="" asp-controller="Engineers" asp-action="Edit" asp-route-engineerId="@engineer.EngineerId">Edit</a>
					<a class="btn btn-danger" asp-area="" asp-controller="Engineers" asp-action="Delete" asp-route-engineerId="@engineer.EngineerId">Delete</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
}
<a class="btn btn-primary" asp-area="" asp-controller="Engineers" asp-action="Create">+ Add Engineer</a>